<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Sneaker-eview 2021: Developed by Abhishek Wagh(Department of Computer Engineering-MIT WPU)</span>
    </div>
</footer>
</body>

</html>